.container {
    height: 100vh;
    width: 100vw;
    /* margin-left: 5vw; */
    position: relative;
}
#start-btn {
    background-color: #90EE90;
    padding: 6px 18px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.cntrl-btn{
    display: none;
    display: flex;
    gap: 8px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;

}
#stop-btn {
    display: none;
    background-color: #FF6347;
    padding: 6px 18px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
#continue-btn {
    display: none;
    background-color: #007BFF;
    padding: 6px 18px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
#pause-btn {
    display: none;
    background-color: salmon;
    padding: 6px 18px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
.particle{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: #000;
}
.particle-crash-container {
    position: fixed !important;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    gap: 0 !important;
    height: 36px;
    width: 36px;
    border-radius: 36px;
}
.particle-crash {
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background-color: #000;
    margin: 0 !important;
}
.score {
    display: none;
    z-index: 999;
    position: absolute;
    font-size: 5rem;
    color: #000;
    font-weight: bold;
    top: 0px;
    right: 20px;
    color: #FFD700;
    margin: 0;
    padding: 0;
    text-align: center;
}
.final-score {
    position: absolute; /* Position the child element absolutely */
    top: 50%;
    right: 50%;
    transform: translate(50%, -100%); 
    font-size: 15rem;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}
.very-special-particle {
    background-color: rgb(255, 223, 63); /* Background color */
    box-shadow: 0 0 15px rgba(255, 223, 63, 0.8),
                0 0 30px rgba(255, 223, 63, 0.6),
                0 0 45px rgba(255, 223, 63, 0.4);
}
.life-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}
.heart{
    height: 24px;
    width: 24px;
}